@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --body-color:#E4E9f7;
    --sidebar-color:#FFF;
    --primary-color:#695CFE;
    --primary-color-light:#F6F5FF;
    --toggle-color:#DDD;
    --text-color:#707070;
    --base-color:#205781;
    --dash-color:#f7f6f2;

    --tran-02: all 0.2s ease ;
    --tran-03: all 0.3s ease ;
    --tran-04: all 0.4s ease ;
    --tran-05: all 0.5s ease ;
}

body {
    height: 100vh;
    background:var(--base-color);
}

/*====== resusable CSS =====*/
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

/*===== sidebar ======*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    padding: 10px 14px;
    background: var(--dash-color);
    transition: var(--tran-05);
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px; 
    font-size: 30px;   
}

.sidebar li .icon, 
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);   
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 50px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .title{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}

.sidebar .search-box{
    background: var(--dash-color);
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: var(--dash-color);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--base-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color)
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color);
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
}

.section-title{
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    margin-right: 10px;
    margin-left: 16%;
    gap: 10px;
    top: 1%;
    color: var(--dash-color);
}

.back-btn img{
    width: 20px;
    vertical-align: middle;
    border-radius: 6px;
    margin-left: 10px;
}

/* .db{
    position: fixed;
    left: 16%;
    bottom: 94%;
    color: var(--dash-color)
} */

.dashboard{
    position: fixed;
    display: inline-flex;
    border-radius: 20px;
    top: 60px;
    height: 800px;
    left: 300px;
    right: 100px;
    width: 85%;
    padding: 15px 20px;
    background: var(--dash-color);
}

.data-one{
    margin-bottom: 20px;
    width: 127%;
    height: 770px;
    border-radius: 6px;
    padding: 10px 15px;
    background: var(#b4b4b4);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}

.data-one .image-icon img{
    width: 150px;
    border-radius: 6px;
}

.data-one .image-icon{
    display: flex;
    align-items: center;
}

.data1{
    display: flex;
    flex-direction: column;
}

.data1 .name{
    font-size: 25px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.data1 .name:hover{
    color: var(--base-color);
}

.data1 .age{
    font-size: 20px;
}

.data1 .year{
    font-size: 20px;
}

.nav-object{
    display: flex;
    gap: 40px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;;
}

.no1{
    color: white;
    align-items: center;
    justify-content: center;
    padding: 4px 40px;
    background-color: #1f4a7a;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.no1:hover{
    color:black;
    border-color: #cccccc;
    background-color: #cccccc;
    position: relative;
    transform: scale(1.09);
}

.status{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.status2{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.s1{
    margin-right: 20px;
    border-radius: 10px;
    Padding: 10px 15px;
    background-color: #e4e8e8;
    transition: 0.2s ease-in-out;
}

.s1:hover{
    position: relative;
    transform: scale(1.05);
}

.s2{
    margin-right: 20px;
    border-radius: 10px;
    Padding: 10px 15px;
    background-color: #e4e8e8;
    transition: 0.2s ease-in-out;
}

.s2:hover{
    position: relative;
    transform: scale(1.05);
}

.s3{
    margin-right: 20px;
    border-radius: 10px;
    Padding: 10px 15px;
    background-color: #e4e8e8;
    transition: 0.2s ease-in-out;
}

.s3:hover{
    position: relative;
    transform: scale(1.05);
}

.s4{
    margin-right: 20px;
    border-radius: 10px;
    Padding: 10px 15px;
    background-color: #e4e8e8;
    transition: 0.2s ease-in-out;
}

.s4:hover{
    position: relative;
    transform: scale(1.05);
}

.inner-bg1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #b2c3ce;
    width: 350px;
    height: 180px;
}

.inner-bg2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #b2c3ce;
    width: 500px;
    height: 180px;
}

.content-allergies{
    display: flex;
    flex-direction: row;
    gap: 80px;
}


.view-btn{
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    color: white;
    border-color: #4f7296;
    background-color: #4f7296;
    transition: 0.2s ease-in-out;
}

.view-btn:hover{
    color:black;
    border-color: white;
    background-color: white;
    position: relative;
    transform: scale(1.08);
}

.o1{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#1f4a7a;
    font-size: 20px;
    font-weight: bold;
}

.o2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.o3{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#1f4a7a;
    font-size: 20px;
    font-weight: bold;
}

.uo1{
    color: red;
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

.data-one .image1{  
    min-width: 60px;
    display: flex;
    align-items: center;
}

.data-one .image-icon .data1{
    top: 50px;
    left: 50px;
}

.patient-number{
    color: grey;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.patient-number:hover{
    color: white;
    width: fit-content;
    border-radius: 20px;
    background-color: var(--base-color);
}

.status .icon{
    transition: transform 0.3s ease-in-out;
}

.status .icon:hover{
    color: var(--base-color);
    transform: rotate(180deg);
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    padding: 2px;
}